.button {
    display: inline-block;
    background-color: #EE5A24;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.button:hover {
transform: scale(1.05);
}